.App{
  padding: 1em;
}

.App h1{
  text-align: center;
  color: rgb(4, 145, 145);
  margin-bottom: 2em;
}

.search{
  display: flex;
  margin-top: 1em;
  justify-content: center;
  /* border: 1px solid black; */
}